@import "./vars.scss";

.video-container {
    position: relative;
}

canvas {
    position: absolute;
    top: 20px;
    margin: 0 0 0 80px;
    width: 640px;
    height: 480px;
}

.bounding-box {
    position: absolute;
    top: 20px;
    margin: 88px 0 0 260px;
    width: 300px;
    height: 300px;
    border: 3px solid $primary-color;
}
